{% extends 'base.html' %}


{% block conteudo %}

          <div class="table-responsive">
            <table class="table table-striped mg-b-0">
              <thead>
                <tr>
                  <th>Marca</th>
                  <th>Total SKUS</th>
             
                </tr>
              </thead>
              <tbody>
                {% for produto in produtos %}
          

                <tr>

                  <th scope="row">{{produto['Marca']}}</th>
                  <td>{{produto['Quantidade']}}</td>
                


                </tr>
             
                {%endfor%}
            
               
              </tbody>
            </table>
          </div><!-- bd -->

          <hr class="mg-y-30">



{% endblock conteudo %}