

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Marcas</title>
</head>
<body>
  
  <h1></h1>



  <head>
  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="{{url_for('static', filename='legend.css')}}"/>
    <title>Marcas Atualizadas</title>
  </head>
  <body>
  
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/admin">Admin <span class="sr-only">(current)</span></a>
             
          
  
         
              </div>
            </div>
       
          </nav>
    </header>
    <div class="container">
            
        <div class="row">
            <div class="col-md-6">
           
                <select name="car_brand" data-live-search="true" id="car_brand" class="form-control" title="Marca"> 
                {% for brand in marcas %}
                <option value="{{brand['Marca']}}">{{brand['Marca']}}</option>
                {% endfor %}
                </select>
            </div>
          
              
       
            </div>
        </div>
    </div>

  
        <div>
            <center><h1></h1></center>
            
        </div> 
  
     
            <input class="form-control" id="myInput" type="text" placeholder="Pesquise aqui...">
            <table class="table table-bordered table-striped ">
                <thead>
                    <tr>
                        <td scope="col">Marca</td>
                        <td scope="col">Data Atualizado</td>
                 
                    </tr>
                </thead>
                {% for produto in produtos %}
          
                <tr>

                  <th scope="row"><a href="{{url_for('notify.retorna_detalhe_marca_dia', marca=produto['Marca'])}}" >{{produto['Marca']}}</a></th>
                  <td>{{produto['QUANTIDADEPRODUTOS']}}</td>
               


                </tr>
                {%endfor%}
              
               
          
                </tbody>
            </table>
       
  
  
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        });
        </script>
  
  <script>
    $(document).ready(function () {
        $("#car_brand").selectpicker();
  
        $("#car_models").selectpicker();
  
        function load_data(type, category_id) {
            $.ajax({
                url: "/carbrand",
                method: "POST",
                data: { type: type, category_id: category_id },
                dataType: "json",
                success: function (data) { //alert(category_id)
                    var html = "";
                    for (var count = 0; count < data.length; count++) {
                        html += '<option value="' + data[count].id + '">' + data[count].name + "</option>";
                    }
                    if (type == "carData") {
                        $("#car_brand").html(html);
                        $("#car_brand").selectpicker("refresh");
                    } else {
                        $("#car_models").html(html);
                        $("#car_models").selectpicker("refresh");
                    }
                },
            });
        }
  
        $(document).on("change", "#car_brand", function () {
            var category_id = $("#car_brand").val();
            load_data("carModeldata", category_id);
        });
    });
  </script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
  <script>
    $(document).ready(function () {
        $("#car_brand").selectpicker();
  
        $("#car_models").selectpicker();
  
        function load_data(type, category_id) {
            $.ajax({
                url: "/carbrand",
                method: "POST",
                data: { type: type, category_id: category_id },
                dataType: "json",
                success: function (data) { //alert(category_id)
                    var html = "";
                    for (var count = 0; count < data.length; count++) {
                        html += '<option value="' + data[count].id + '">' + data[count].name + "</option>";
                    }
                    if (type == "carData") {
                        $("#car_brand").html(html);
                        $("#car_brand").selectpicker("refresh");
                    } else {
                        $("#car_models").html(html);
                        $("#car_models").selectpicker("refresh");
                    }
                },
            });
        }
  
        $(document).on("change", "#car_brand", function () {
            var category_id = $("#car_brand").val();
            load_data("carModeldata", category_id);
        });
    });
  </script>
  
</body>
</html>
    
