{% extends 'base.html' %}


{% block conteudo %}
    <h1>Marcas Atualizadas</h1>

    <div class="table-responsive">
        <table class="table table-striped mg-b-0">
          <thead>
            <tr>
              <th>MARCA</th>
              <th>SKUS ATUALIZADOS</th>
              <th>DATA</th>
              
            
            </tr>
          </thead>
          <tbody>
            
   
            {% for produto in produtos %}
            <tr>
                

              <th scope="row"><a href="{{url_for('notify.retorna_diario_marca', marca = produto['MARCA'])}}" aria-pressed="true">{{produto['MARCA']}}</a></th>
              
              <td>{{produto['SKUS']}}</td>
              <th scope="row"><a href="{{url_for('notify.retorna_diario_marca', marca = produto['MARCA'])}}" aria-pressed="true">{{produto['MARCA']}}</a></th>

              <td>{{produto['DATAATUALIZACAO']}}</td>
        
              
            </tr>   
            {%endfor%}
           


          </tbody>
        </table>
      </div><!-- bd -->

      <hr class="mg-y-30">

{% endblock conteudo %}
