{% extends 'base.html' %}


{% block conteudo %}

          <div class="table-responsive">
            <table class="table table-striped mg-b-0">
              <thead>
                <tr>
                  <th>IDMARCA</th>
                  <th>Marca</th>
                  <th>Item</th>
                  <th>SKU</th>
                  <th>Saldo</th>
                  <th>ATUALIZADO</th>
                </tr>
              </thead>
              <tbody>
                {% for produto in produtos %}
                {% for produto in produtos %}

                <tr>

                  <th scope="row">{{produto['IdMarca']}}</th>
                  <td>{{produto['Marca']}}</td>
                  <td>{{produto['NomeProduto']}}</td>
                  <td>{{produto['sku']}}</td>
                  <td>{{produto['saldo']}}</td>
                  <td>{{produto['data']}}</td>


                </tr>
                {%endfor%}
                {%endfor%}


              </tbody>
            </table>
          </div><!-- bd -->

          <hr class="mg-y-30">



{% endblock conteudo %}